<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content=" aonolasco@unah.hn jeyson.espinal@unah.hn alejandro.moya@unah.hn kromeron@unah.hn">
  <meta name="version" content="0.1.0">
  <meta name="since" content="2024/11/1">
  <meta name="date" content="2024/11/11">
  <meta name="description"
    content="Pagína reseteo de contraseña">


   <link href="../../assets/css/bootstrap/bootstrap.min.css" rel="stylesheet"
    crossorigin="anonymous">
   <link rel="icon" type="image/png" href="../../assets/img/icons/UNAH-escudo.png"  sizes="16x16">
   <link rel="stylesheet" href="../../assets/css/admissions/main.css"> 
   <link rel="stylesheet" href="../../assets/css/main.css">
   <link rel="stylesheet" href="../../assets/css/admissions/login.css">    
   <link rel="stylesheet" href="../../assets/css/support.css">   
  <title>Resetear contraseña</title>
</head>

<body class="background-white animation">


  <!--Header/navar==============================================================================-->
  <nav class="my-nav">
    <div class="nav-container dropdown"  >
      <a class="" href="../index.html">
        <img class="nav-logo" src="../../assets/img/logos/UNAH-version-horizontal-white.png" >
      </a>

    </div>
  </nav>
  <div id="notifications"></div>



   <!--Content=================================================================================-->
   <section class="content">
    <div>
      <div style="display: flex; justify-content: center;">
        <h2>Reseteo de contraseña</h2>
      </div>
      <form method="POST" enctype="multipart/form-data" id="loginApplicant">
        <div class="mb-3 password-container" style="position: relative;">
          <input 
            type="password" 
            class="form-control" 
            id="password" 
            placeholder="Nueva contraseña" 
            style="box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2); padding-right: 40px; width: 100%;"
            required>
          <button 
            type="button" 
            class="toggle-button" 
            style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); border: none; background: none; cursor: pointer; font-size: 18px;">
            <img src="../assets/img/icons/flashlight-unactive-icon.png" alt="">
          </button>
        </div>
        <div class="mb-3 password-container" style="position: relative;">
          <input type="hidden" id="token" name="token" value="">
          <input 
            type="password" 
            class="form-control" 
            id="passwordVerification" 
            placeholder="Verifique la contraseña" 
            style="box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2); padding-right: 40px; width: 100%;"
            required>
          <button 
            type="button" 
            class="toggle-button" 
            style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); border: none; background: none; cursor: pointer; font-size: 18px;">
            <img src="../assets/img/icons/flashlight-unactive-icon.png" alt="">
          </button>
        </div>
        <div class="modal-footer" style="border-top: none; display: flex; justify-content: center;">
          <button 
            id = 'resetButton'
            type="submit" 
            class="btn-yellow" 
            style="border-radius: 20px; box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);">
            Formatear
          </button>
        </div>
      </form>
    </div>
  </section>
  <!--Footer=================================================================================-->
  
  <footer class="footer">
    
    <img class="logo-footer" src="../../assets/img/logos/UNAH-version-horizontal-white.png"  >

    <ul class="social-icon">
      <li class="footer-icon">
        <a href="https://facebook.com/unahoficial" >
          <img src="../../assets/img/icons/icon_facebook_white.png" alt="">
        </a>
      </li>
      <li class="footer-icon">
        <a href="https://instagram.com/unahoficial" >
          <img src="../../assets/img/icons/icon_insta_white.png" alt="">
        </a>
      </li>
      <li class="footer-icon">
        <a href="https://www.unah.edu.hn/" >
          <img src="../../assets/img/icons/icon_linkedin_white.png" alt="">
        </a>
      </li>
      <li class="footer-icon">
        <a href="https://x.com/UNAHoficial" >
          <img src="../../assets/img/icons/icon_x_white.png" alt="">
        </a>
      </li>
      <li class="footer-icon">
        <a href="https://youtube.com/unahoficial" >
          <img src="../../assets/img/icons/icon_youtube_white.png" alt="">
        </a>
      </li>
    </ul>
    
    <ul class="footer-menu">
      <li class="footer-menu-item">
        <a href="" class="footer-menu-icon">Inicio</a>
      </li>
      <li class="footer-menu-item">
        <a href="" class="footer-menu-icon">Equipo</a>
      </li>
      <li class="footer-menu-item">
        <a href="" class="footer-menu-icon">Contacto</a>
      </li>
      <li class="footer-menu-item">
        <a href="" class="footer-menu-icon">Sobre Nosotros</a>
      </li>
    </ul>
    <p class="footer-text">@año | Todos los derechos reservados</p>

  </footer>

  <script src="../../assets/js/bootstrap/bootstrap.bundle.min.js"crossorigin="anonymous"></script>
    <script type="module" src="../../assets/js/passwordReset.js" ></script>
  <script type="module" src="../../assets/js/aspects.js" ></script>

</body>

</html>