<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content=" aonolasco@unah.hn jeyson.espinal@unah.hn alejandro.moya@unah.hn kromeron@unah.hn">
  <meta name="version" content="0.1.0">
  <meta name="since" content="2024/11/1">
  <meta name="date" content="2024/11/2">
  <meta name="description"
    content="Centros regionales de la Universidad Nacional Autónoma de Honduras">


  <link href="../assets/css/bootstrap/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="icon" type="image/png" href="./../assets/img/icons/UNAH-escudo.png"  sizes="16x16">
  <link rel="stylesheet" href="../assets/css/main.css">
  <link rel="stylesheet" href="../assets/css/landing.css">
  <link rel="stylesheet" href="../assets/css/ubications.css">
  <title>Centros Regionales</title>
</head>

<body class="background-white animation">

  <!--Header/navar==============================================================================-->
  <nav class="header animation">

    <div class="container-fluid background-white my-navbar" >
      <a href="../index.html" class="logo-header">
        <img class="navbar-logo" src="../assets/img/logos/UNAH-version-horizontal.png" alt="UNAH" style="width: 50%;">
      </a>
      <div class="oficial-yellow bar yellow-bar " ></div>
      <div class="oficial-blue bar blue-bar "></div>
      <div class="oficial-blue  blue-banner  ">

        <div class="navbar-menu">
          <div class="navbar-menu-item">
            <a href="careers.html">Oferta Académica</a>
          </div>
          <div class="navbar-menu-item">
            <button class="btn-inscription" data-bs-toggle="modal" >Inscripción</button>
          </div>
          <div class="navbar-menu-item">
            <button id="loginStudentsButton" type="button" data-bs-toggle="modal" data-bs-target="#loginModalStudents">Estudiantes</button>
          </div>
          <div class="navbar-menu-item">
            <button>Docentes</button>
          </div>
          <div class="navbar-menu-item">

            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle btn-dropdown" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Admistración
              </button>
              <ul class="dropdown-menu">
                <li><button class="dropdown-item" href="#">Gestión estratégica</button></li>
                <li><button class="dropdown-item" href="#">Facultades</button></li>
                <li><button id="loginAdmissionsButton" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#loginModalAdmissions" >Admisiones</Button></li>
                <li><button class="dropdown-item" href="#">DIPP</button></li>
              </ul>
            </div>

          </div>

        </div>
      </div>
    </div>

  </nav>


  <!--Ubication cards========================================================================-->
  <div style="width:100vw; display:flex; justify-content: center; padding-top: 20px;">
    <h1  style="font-weight: bold; color: #ffb300; ">Centros Regionales</h1>
  </div>

  <section>

    <div class="ubication-card">
      <div class="face front">
        <img src="../assets/img/Centers/Aguan.jpg" alt="">
        <h3>Yoro</h3>
      </div>
      <div class="face back">
        <h3>UNAH
          (Campus Yoro)</h3>
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <p>Valle de aguan</p>
              
            </div>
        
            <div class="col-12">
              <p>(+504) 2446-5900
              </p>
             
            </div>
            <div class="col-12">
              <p>Olanchito, Yoro</p>
              
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="ubication-card">
      <div class="face front">
        <img src="../assets/img/Centers/CU.jpg" alt="">
        <h3>Ciudad Universitaria</h3>
      </div>
      <div class="face back">
        <h3>Ciudad Universitaria</h3>
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <p>Bulevar Suyapa, Tegucigalpa M.D.C., Francisco Morazán</p>
              
            </div>
        
            <div class="col-12">
              <p>(+504) 2216-3000</p>
             
            </div>
            <div class="col-12">
              <p></p>
              
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="ubication-card">
      <div class="face front">
        <img src="../assets/img/Centers/CURLA.jpg" alt="">
        <h3>Atlántida</h3>
      </div>
      <div class="face back">
        <h3>UNAH
          (Campus Atlántida)</h3>
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <p>Carretera Ceiba-Tela, detrás del aeropuerto Golosón, desvío frente a Supermercado Despensa Familiar.</p>
              
            </div>
        
            <div class="col-12">
              <p>(+504) 2442-9500</p>
             
            </div>
            <div class="col-12">
              <p>desarrolloinst.curla@unah.edu.hn</p>
              
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="ubication-card">
      <div class="face front">
        <img src="../assets/img/Centers/CURLP.jpg" alt="">
        <h3>Choluteca</h3>
      </div>
      <div class="face back">
        <h3>UNAH
          (Campus Choluteca)</h3>
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <p>Km 5 salida a San Marcos de Colón, desvío a la derecha frente a Residencial Anda Lucía.</p>
              
            </div>
        
            <div class="col-12">
              <p>(+504) 2780-5900</p>
             
            </div>
            <div class="col-12">
              <p>info.curlp@unah.edu.hn</p>
              
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="ubication-card">
      <div class="face front">
        <img src="../assets/img/Centers/CURNO.png" alt="">
        <h3>Olancho</h3>
      </div>
      <div class="face back">
        <h3>UNAH
          (Campus Olancho)</h3>
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <p>Juticalpa, Olancho </p>
              
            </div>
        
            <div class="col-12">
              <p>(+504) 2789-9000</p>
             
            </div>
            <div class="col-12">
              <p></p>
              
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="ubication-card">
      <div class="face front">
        <img src="../assets/img/Centers/CUROC.jpg" alt="">
        <h3>Copán</h3>
      </div>
      <div class="face back">
        <h3>UNAH
          (Campus Copán)</h3>
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <p>Colonia Villa Belén, Santa Rosa de Copán.</p>
              
            </div>
        
            <div class="col-12">
              <p>(+504) 2262-7700</p>
             
            </div>
            <div class="col-12">
              <p></p>
              
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="ubication-card">
      <div class="face front">
        <img src="../assets/img/Centers/Curc.jpg" alt="">
        <h3>Comayagua</h3>
      </div>
      <div class="face back">
        <h3>UNAH
          (Campus Comayagua)</h3>
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <p>Colonia San Miguel, última rotonda, salida a Tegucigalpa, atrás de Ferromax.</p>
              
            </div>
        
            <div class="col-12">
              <p>(+504) 2771-5700</p>
             
            </div>
            <div class="col-12">
              <p></p>
              
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="ubication-card">
      <div class="face front">
        <img src="../assets/img/Centers/Danli.jpg" alt="">
        <h3> El Paraíso</h3>
      </div>
      <div class="face back">
        <h3>UNAH
          (Campus El Paraíso)</h3>
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <p>Danlí, El Paraíso, carretera Panamericana, frente al Hospital Regional Gabriela Alvarado</p>
              
            </div>
        
            <div class="col-12">
              <p>(+504) 2763-9900</p>
             
            </div>
            <div class="col-12">
              <p></p>
              
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="ubication-card">
      <div class="face front">
        <img src="../assets/img/Centers/Unah-vs.jpg" alt="">
        <h3>Cortés</h3>
      </div>
      <div class="face back">
        <h3>UNAH
          (Campus Cortés)</h3>
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <p>Colonia Villas del Sol, bulevar Roberto Micheletti, sector Jardines del Valle, San Pedro Sula, Cortés</p>
              
            </div>
        
            <div class="col-12">
              <p>(+504) 2545-6600</p>
             
            </div>
            <div class="col-12">
              <p></p>
              
            </div>
          </div>
        </div>
      </div>
    </div>


  </section>

  <!--Footer=================================================================================-->

  <footer class="footer">

    <img src="../assets/img/logos/UNAH-version-horizontal-white.png" style="width: 6vw; margin: 2vh;">

    <ul class="social-icon">
      <li class="footer-icon">
        <a href="https://facebook.com/unahoficial">
          <img src="../assets/img/icons/icon_facebook_white.png" alt="">
        </a>
      </li>
      <li class="footer-icon">
        <a href="https://instagram.com/unahoficial">
          <img src="../assets/img/icons/icon_insta_white.png" alt="">
        </a>
      </li>
      <li class="footer-icon">
        <a href="https://www.unah.edu.hn/">
          <img src="../assets/img/icons/icon_linkedin_white.png" alt="">
        </a>
      </li>
      <li class="footer-icon">
        <a href="https://x.com/UNAHoficial">
          <img src="../assets/img/icons/icon_x_white.png" alt="">
        </a>
      </li>
      <li class="footer-icon">
        <a href="https://youtube.com/unahoficial">
          <img src="../assets/img/icons/icon_youtube_white.png" alt="">
        </a>
      </li>
    </ul>

    <ul class="footer-menu">
      <li class="footer-menu-item">
        <a href="" class="footer-menu-icon">Inicio</a>
      </li>
      <li class="footer-menu-item">
        <a href="" class="footer-menu-icon">Equipo</a>
      </li>
      <li class="footer-menu-item">
        <a href="" class="footer-menu-icon">Contacto</a>
      </li>
      <li class="footer-menu-item">
        <a href="" class="footer-menu-icon">Sobre Nosotros</a>
      </li>
    </ul>
    <p class="footer-text">@año | Todos los derechos reservados</p>

  </footer>



<!--Incription-modal-form=================================================================================-->

<div class="modal fade" id="Inscription-form" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Registro De Inscripción</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="alertPlaceholder"></div>
          <div class="container-fluid">
            <form id="inscriptionForm">
            <div class="row">
              <div class="col-6">
                  <h5>Información personal</h5>
                  
                    <div class="mb-3">
                      <label for="applicantName" class="form-label">Nombre</label>
                      <input type="text" class="form-control"   name="applicantName" required>
                    </div>
                    <div class="mb-3">
                      <label for="applicantLastName" class="form-label">Apellidos</label>
                      <input type="text" class="form-control" name="applicantLastName" required >
                    </div>
                    <div class="mb-3">
                      <label for="applicantIdentification" class="form-label">Número de identidad</label>
                      <input type="text" class="form-control" name="applicantIdentification" placeholder="Ejemplo: 0701200119258" required>
                    </div>
                    <div class="mb-3">
                      <label for="applicantPhoneNumber" class="form-label">Teléfono</label>
                      <input type="text" class="form-control" name="applicantPhoneNumber" placeholder="Ejemplo: 89673456" required >
                    </div>
                    <div class="mb-3">
                      <label for="applicantEmail" class="form-label">Correo electrónico</label>
                      <input type="email" class="form-control" name="applicantEmail" required>
                    </div>
                   <div class="mb-3">
                      <label for="applicantDirection" class="form-label">Dirección</label>
                      <textarea class="form-control" name="applicantDirection" rows="4" required></textarea>
                    </div>
                    <div class="mb-3">
                      <label for="aplicantCertificate" class="form-label">Certificado de secundaria</label>
                      <input class="form-control" type="file" name="aplicantCertificate" accept=".jpg, .png" required>
                    </div>
                  
              </div>
              <div class="col-6">
                <h5>Información sobre solicitud</h5>
                 
                   
                    <div>
                      <label for="applicantStudyCenter">Centro Regional</label>
                      <select id="applicantStudyCenter" name="applicantStudyCenter" class="form-select" required>
                        <option  value="" disabled selected> </option>
                      
                      </select>
                   </div>
                    <div>
                      <label for="applicantFirstChoice">Carrera Principal</label>
                      <select id="applicantFirstChoice" name="applicantFirstChoice" class="form-select" required>
                        <option value="" disabled selected></option>
                     
                      </select>
                   </div>
                   <div>
                    <label for="applicantSecondChoice">Carrera Secundaria</label>
                    <select id="applicantSecondChoice"  name="applicantSecondChoice" class="form-select" required >
                      <option  value="" disabled selected></option>
                 
                    </select>
                 </div>
                    <br>
                  
                
              </div>
            </div>

          </div>
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary oficial-yellow" data-bs-dismiss="modal" style="border: none;">Cerrar</button>
        <button id="inscriptionButton" type="submit" class="btn btn-primary oficial-blue" style="border: none;">Enviar</button>
      </div>
    </form>
    </div>
  </div>
</div>

 <!-- Login Admissions -->
 <div class="modal fade " id="loginModalAdmissions" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
      <div class="modal-header" style="border-bottom: none;">
          <div style="width: 100%; display: flex; justify-content: center;">
          <h1 class="modal-title fs-5" style="color: #4D5057; " >Inicio de sesión</h1>
          </div>
      
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="padding:  20px;">
        <div id="alertPlaceholder"></div>
          <form id="loginAdmissions">
          <div class="mb-3">
          
              <input type="text" class="form-control" id="admissionsUser"  placeholder="Usuario..." style="box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);">
              
          </div>
          <div class="mb-3">
          
              <input type="password" class="form-control" id="admissionsPassword" placeholder="Contraseña...." style="box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);" >
          </div>
          
          <div class="modal-footer" style="border-top: none; display: flex; justify-content: center;">
              <button type="submit" class=" btn-blue" style="border-radius: 20px; box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);" id="btnLogin">Iniciar Sesión</button>
          </div>
          
          
          </form>

      </div>
      
      </div>
  </div>
  </div>

  <!-- Login Students -->
  <div class="modal fade " id="loginModalStudents" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header" style="border-bottom: none;">
            <div style="width: 100%; display: flex; justify-content: center;">
            <h1 class="modal-title fs-5" style="color: #4D5057; " >Inicio de sesión</h1>
            </div>
        
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="padding:  20px;">
          <div id="alertPlaceholder"></div>
            <form id="loginStudents">
            <div class="mb-3">
            
                <input type="text" class="form-control" id="studentAccountNumber"  placeholder="Número de cuenta..." style="box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);" required>
                
            </div>
            <div class="mb-3">
            
                <input type="password" class="form-control" id="studentPassword" placeholder="Contraseña...." style="box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);" required >
            </div>
            
            <div class="modal-footer" style="border-top: none; display: flex; justify-content: center;">
                <button type="submit" class=" btn-yellow" style="border-radius: 20px; box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);">Iniciar Sesión</button>
            </div>
            
            
            </form>

            <div id="recoveryPassword" style="width: 100%; display: flex; justify-content: center;">
            <a href="" style="text-decoration: none; color: rgba(0, 0, 0, 0.2);">¿Olvidaste tu contraseña?</a>
            </div>
        </div>
        
        </div>
    </div>
    </div>

  <script src="../assets/js/bootstrap/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  <script type="module" src="../assets/js/aspects.js"></script>
  <script type="module" src="../assets/js/main.js"></script>
</body>

</html>