<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="author"
      content=" aonolasco@unah.hn jeyson.espinal@unah.hn alejandro.moya@unah.hn kromeron@unah.hn"
    />
    <meta name="version" content="0.1.0" />
    <meta name="since" content="2024/11/1" />
    <meta name="date" content="2024/11/11" />
    <meta
      name="description"
      content="Pagína para visualización de resultados"
    />

    <link
      href="../../assets/css/bootstrap/bootstrap.min.css"
      rel="stylesheet"
      
      crossorigin="anonymous"
    />
    <link rel="icon" type="image/png" href="../../assets/img/icons/UNAH-escudo.png"  sizes="16x16">
    <link rel="stylesheet" href="../../assets/css/main.css" />
    <link rel="stylesheet" href="../../assets/css/admissions/main.css" />
    <link rel="stylesheet" href="../../assets/css/admissions/results.css" />
    <link rel="stylesheet" href="../../assets/css/support.css">
    <title>Edición</title>
   <script src="../../assets/js/tokenValidation.js"></script>
  </head>

  <body class="background-white animation">
    <!--Header/navar==============================================================================-->
    <nav class="my-nav">
      <div class="nav-container dropdown">
        <a class="" href="./login.html">
          <img
            class="nav-logo"
            src="../../assets/img/logos/UNAH-version-horizontal-white.png"
          />
        </a>
      </div>
    </nav>
    <div id="notifications"></div>
    <!--Tabla=================================================================================-->
    <div class="title-container">
      <div class="table-title">
        <h2>Edición de datos</h2>
      </div>
     
      <div id="info" class="applicant-data" style="height: 30px; display: flex; align-items: center; justify-content: center;">
        
      </div>
    </div>

    <section  style="overflow: scroll; padding: 10px 5vw; height: 50vh;" class="table-container">
            <form style="width: auto; height: auto;" enctype="multipart/form-data" method='POST' id="dataEditionForm">
                <input type="hidden" id="id_admission_application_number" name="id_admission_application_number">
                <input type="hidden" id="id_check_applicant_applications"  name="id_check_applicant_applications">
                <div class="row">
                <div class="col-6">
                    <h5>Información personal</h5>
                    
                        <div class="mb-3">
                        <label for="applicantName" class="form-label">Nombre</label>
                        <input type="text" class="form-control input-entry" title="Solo letras y tildes, y puede tener entre 1 y 3 palabras separadas por espacios (Ej. Juan, Juan José, Juan José María)." id="applicantName"  name="applicantName"  placeholder="Ejemplo:Juan José María" required>
                        <p class="input-error"> Solo letras y tildes, y puede tener entre 1 y 3 palabras separadas por espacios (Ej. Juan, Juan José, Juan José María).</p>
                        </div>
                        <div class="mb-3">
                        <label for="applicantLastName" class="form-label">Apellidos</label>
                        <input type="text" class="form-control input-entry" id="applicantLastName" name="applicantLastName" title="Solo letras y tildes, y puede ser un apellido o dos, separados por un espacio (Ej. López, López Pérez)." placeholder="Ejemplo: Lopez Perez " required >
                        <p class="input-error"> Solo letras y tildes, y puede ser un apellido o dos, separados por un espacio (Ej. López, López Pérez).</p>
                        </div>
                        <div class="mb-3">
                        <label for="applicantIdentification" class="form-label">Número de identidad</label>
                        <input type="text" class="form-control input-entry" title=" Número de identidad con 13 dígitos, no introducir guiones ni espacios en blanco (Ej. 0701200119258)" id="applicantIdentification"   name="applicantIdentification" placeholder="Ejemplo: 0701200119258" required>
                        <p class="input-error"> Número de identidad con 13 dígitos, no introducir guiones ni espacios en blanco (Ej. 0701200119258)</p>
                        </div>
                        <div class="mb-3">
                        <label for="applicantPhoneNumber" class="form-label">Teléfono</label>
                        <input type="text" class="form-control input-entry" title="Número de teléfono que comienza con 9, 8, 7 o 3, seguido de 7 dígitos (Ej. 912345678)."  id="applicantPhoneNumber" name="applicantPhoneNumber" placeholder="Ejemplo: 89673456" title=" Número de teléfono que comienza con 9, 8, 7 o 3, seguido de 7 dígitos (Ej. 912345678)." required >
                        <p class="input-error"> Número de teléfono que comienza con 9, 8, 7 o 3, seguido de 7 dígitos (Ej. 912345678).</p>
                        </div>
                        <div class="mb-3">
                        <label for="applicantEmail" class="form-label">Correo electrónico</label>
                        <input type="email" title=" Dirección de correo electrónico válida (Ej. ejemplo@dominio.com)." class="form-control input-entry" id="applicantEmail" name="applicantEmail" placeholder="Ejemplo: usuario.ejemplo@dominio.com" required>
                        <p class="input-error"> Dirección de correo electrónico válida (Ej. ejemplo@dominio.com).</p>
                        </div>
                    <div class="mb-3">
                        <label for="applicantDirection" class="form-label">Dirección</label>
                        <textarea class="form-control" title="irección con letras, números, espacios, comas, puntos y guiones (Ej. Calle 123, Ciudad, País).No debe iniciar con espacio en blanco" id="applicantDirection"  name="applicantDirection" rows="4" placeholder="Ejemplo: Calle Ejemplo 123, Colonia Central, Ciudad Genérica, País" required></textarea>
                        <p class="input-error"> Dirección con letras, números, espacios, comas, puntos y guiones (Ej. Calle 123, Ciudad, País).No debe iniciar con espacio en blanco</p>
                        </div>
                        <div class="mb-3">
                        <label for="applicantIdDocument" class="form-label">Documento de identificación nacional o Partida de nacimiento</label>
                        <input id='applicantIdDocument' class="form-control" type="file" id="applicantIdDocument"  name="applicantIdDocument" accept=".jpg, .png, .jpeg, .pdf" title="La imagen debe tener al menos 150 ppi y un tamaño mínimo de 1200 x 1600 píxeles para garantizar la legibilidad del texto y gráficos. Formatos aceptados: PNG, JPG, JPEG."  required>
                        <p class="input-error">La imagen debe tener al menos 150 ppi y un tamaño mínimo de 1200 x 1600 píxeles para garantizar la legibilidad del texto y gráficos. Formatos aceptados: PNG, JPG, JPEG, PDF. </p>
                        </div>

                      
                        
                    
                </div>
                <div class="col-6">
                    <h5>Información sobre solicitud</h5>
                         

                        <div class="mb-3">
                            <label class="form-label" for="applicantCertificate" >Certificado de secundaria</label>
                            <input id='applicantCertificate' class="form-control" type="file" id="applicantCertificate" name="applicantCertificate" accept=".jpg, .png , .jpeg, .pdf"  title="La imagen debe tener al menos 150 ppi y un tamaño mínimo de 1200 x 1600 píxeles para garantizar la legibilidad del texto y gráficos. Formatos aceptados: PNG, JPG, JPEG." required>
                            <p class="input-error">La imagen debe tener al menos 150 ppi y un tamaño mínimo de 1200 x 1600 píxeles para garantizar la legibilidad del texto y gráficos. Formatos aceptados: PNG, JPG, JPEG, PDF.</p>
                            
                        </div>
                    
                        <div>
                            <div>
                                <label class="form-label" for="applicantStudyCenter">Centro Regional</label>
                                <input  style="margin-bottom: 10px;" id="applicantStudyCenter"  id="applicantStudyCenter" name="applicantStudyCenter" class="form-control" required></input>
                        
                            </div>
                              <div>
                                <label class="form-label" for="applicantFirstChoice">Carrera Principal</label>
                                <input style="margin-bottom: 10px;" id="applicantFirstChoice" id="applicantFirstChoice"  name="applicantFirstChoice" class="form-control" required> </input>
                            </div>
                            <div>
                              <label   class="form-label"for="applicantSecondChoice">Carrera Secundaria</label>
                              <input style="margin-bottom: 10px;" id="applicantSecondChoice"   id="applicantSecondChoice"  name="applicantSecondChoice" class="form-control" required ></input>
                          </div>
                        <br>
                    <div style="display: flex; justify-content: flex-end; gap: 10px;">
                        <button type="button" id="logoutBtn" class="btn btn-danger">Cerrar</button>
                        <button id="dataEditionButton" type="submit" class="btn btn-primary oficial-blue" style="border: none;">Enviar</button>
                    </div>
                    
                    
                </div>
                </div>

            </div>
            
        </div>
       
         

        </form>
    </section>

    <!--Footer=================================================================================-->

    <footer class="footer">
      <img
        class="logo-footer"
        src="../../assets/img/logos/UNAH-version-horizontal-white.png"
      />

      <ul class="social-icon">
        <li class="footer-icon">
          <a href="https://facebook.com/unahoficial">
            <img src="../../assets/img/icons/icon_facebook_white.png" alt="" />
          </a>
        </li>
        <li class="footer-icon">
          <a href="https://instagram.com/unahoficial">
            <img src="../../assets/img/icons/icon_insta_white.png" alt="" />
          </a>
        </li>
        <li class="footer-icon">
          <a href="https://www.unah.edu.hn/">
            <img src="../../assets/img/icons/icon_linkedin_white.png" alt="" />
          </a>
        </li>
        <li class="footer-icon">
          <a href="https://x.com/UNAHoficial">
            <img src="../../assets/img/icons/icon_x_white.png" alt="" />
          </a>
        </li>
        <li class="footer-icon">
          <a href="https://youtube.com/unahoficial">
            <img src="../../assets/img/icons/icon_youtube_white.png" alt="" />
          </a>
        </li>
      </ul>

      <ul class="footer-menu">
        <li class="footer-menu-item">
          <a href="" class="footer-menu-icon">Inicio</a>
        </li>
        <li class="footer-menu-item">
          <a href="" class="footer-menu-icon">Equipo</a>
        </li>
        <li class="footer-menu-item">
          <a href="" class="footer-menu-icon">Contacto</a>
        </li>
        <li class="footer-menu-item">
          <a href="" class="footer-menu-icon">Sobre Nosotros</a>
        </li>
      </ul>
      <p class="footer-text">@año | Todos los derechos reservados</p>
    </footer>

    <!-- Modal -->
<div class="modal fade" id="verifySelection" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <div  style="display: flex; justify-content: center; width: 100%;">
                <h1 class="modal-title fs-5">Verificación</h1>
            </div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
         <p style="color:red"> 
            Asegurece de haber escogido la opción correcta, de no ser así, regrese a la página anterior. <br><br>Sí esta seguro de su respuesta presione envíar.
         </p>
        </div>
        <div class="modal-footer">
          <button id="selectionCorrectBtn" type="submit" class="btn btn-yellow">Aceptar</button>
        
        </div>
      </div>
    </div>
  </div>

    <script
      src="../../assets/js/bootstrap/bootstrap.bundle.min.js"
      
      crossorigin="anonymous"
    ></script>

    <script type="module" src="../../assets/js/aspects.js"></script>
    <script type="module" src="../../assets/js/admissions/dataEdition.js"></script>
  </body>
</html>
