<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="author"
      content=" aonolasco@unah.hn jeyson.espinal@unah.hn alejandro.moya@unah.hn kromeron@unah.hn"
    />
    <meta name="version" content="0.1.0" />
    <meta name="since" content="2024/11/1" />
    <meta name="date" content="2024/11/10" />
    <meta
      name="description"
      content="Página de carga de usuarios nuevos de estudiantes"
    />

    <link
      href="../../../assets/css/bootstrap/bootstrap.min.css"
      rel="stylesheet"
      crossorigin="anonymous"
    />
    <link
      rel="icon"
      type="image/png"
      href="../../../assets/img/icons/UNAH-escudo.png"
      sizes="16x16"
    />
    <link rel="stylesheet" href="../../../assets/css/main.css" />
    <link rel="stylesheet" href="../../../assets/css/administration/main.css" />
    <link
      rel="stylesheet"
      href="../../../assets/css/administration/upload-grades.css"
    />
    <link rel="stylesheet" href="../../../assets/css/support.css" />
    <title>Carga de estudiantes</title>
    <script src="../../../assets/js/tokenValidation.js"></script>
  </head>

  <body class="background-white animation">
    <!--Header/navar==============================================================================-->
    <nav class="my-nav">
      <div class="nav-container dropdown">
        <a class="" href="./admissions-admin.html">
          <img
            class="nav-logo"
            src="../../../assets/img/logos/UNAH-version-horizontal-white.png"
          />
        </a>
        <button type="button" id="toggleSidebar" class="toggle-btn">
          <img src="../../../assets/img/icons/inactive-menu-icon.png" alt="" />
        </button>
      </div>
    </nav>
    <div id="notifications"></div>
    <!--offcanvas main container start=================================================================================-->
    <section class="sidebar hidden">
      <div
        class="sidebar-header"
        style="display: flex; justify-content: end; align-items: center"
      >
        <button
          style="border: none; background: none"
          type="button"
          id="closeSidebar"
          class="toggle-btn"
        >
          <img
            src="../../../assets/img/icons/inactive-menu-icon.png"
            alt="Cerrar Sidebar"
          />
        </button>
      </div>
      <div class="sidebar-body">
        <ul>
        
        </ul>
      </div>
      <div class="sidebar-footer">
        <a role="button" style="color: white" id="logoutBtn" href=""
          >Cerrar sesión
          <img src="../../../assets/img/icons/logout-icon.png" alt=""
        /></a>
      </div>
    </section>
    <!--offcanvas main container end=================================================================================-->

    <!--Cargar calificaciones=================================================================================-->

    <section class="upload-section py-5">
      <div class="container">
        <div class="row">
          <div class="section-title" style="margin: 10px 0 30px">
            <h2>Cargar Información de Nuevos Estudiantes</h2>
          </div>
        </div>

        <!-- Instrucciones adicionales -->
        <div class="row mb-4">
          <div class="col-12">
            <div class="alert alert-info">
              <h4 class="alert-heading">Instrucciones:</h4>
              <ul>
                <li>
                  El archivo CSV debe contener los siguientes campos en el orden
                  exacto:
                  <strong>
                    nombre_completo_apirante_admitido,
                    identidad_aspirante_admitido, direccion_aspirante_admitido,
                    correo_personal_aspirante_admitido,
                    carrera_aspirante_admitido,
                    centro_regional_aspirante_admitido </strong
                  >.
                </li>
                <li>
                  Asegúrese de que el archivo no contenga filas vacías ni
                  caracteres inválidos.
                </li>
              </ul>
              <p>Ejemplo de estructura del archivo CSV:</p>
              <pre>
nombre_completo_apirante_admitido,identidad_aspirante_admitido,direccion_aspirante_admitido,celular_aspirante_admitido,correo_personal_aspirante_admitido,carrera_aspirante_admitido,centro_regional_aspirante_admitido
"JEYSON FERNANDO ALEJANDRO ESPINA LOPEZ",1501200602462,ALEMAN,99346961,jfeg1601@gmail.com,1,1
"JEYSON FERNANDO guevara ESPINAL GUEVARA",0801200119258,ALEMÁN,99346961,fernandoespinalguevara@gmail.com,2,1
              </pre>
            </div>
          </div>
        </div>

        <!-- Formulario para cargar el CSV -->
        <div class="row justify-content-center">
          <div class="col-md-8 col-lg-6">
            <form
              method="POST"
              enctype="multipart/form-data"
              id="formUploadStudents"
              action=""
            >
              <div class="mb-4">
                <label for="csvFile" class="form-label h5">
                  Seleccione un archivo .csv
                </label>
                <input
                  class="form-control"
                  type="file"
                  id="csvFile"
                  name="csvFile"
                  accept=".csv"
                />
                <div class="form-text">
                  El archivo debe estar en formato .csv y contener los datos
                  correctamente estructurados.
                </div>
              </div>
              <button
                type="submit"
                class="btn btn-success btn-lg w-100"
                id="btnUpload"
              >
                Cargar Estudiantes
              </button>
            </form>
          </div>
        </div>
      </div>
    </section>

    <!--Footer=================================================================================-->

    <footer class="footer">
      <img
        class="logo-footer"
        src="../../../assets/img/logos/UNAH-version-horizontal-white.png"
      />

      <ul class="social-icon">
        <li class="footer-icon">
          <a href="https://facebook.com/unahoficial">
            <img
              src="../../../assets/img/icons/icon_facebook_white.png"
              alt=""
            />
          </a>
        </li>
        <li class="footer-icon">
          <a href="https://instagram.com/unahoficial">
            <img src="../../../assets/img/icons/icon_insta_white.png" alt="" />
          </a>
        </li>
        <li class="footer-icon">
          <a href="https://www.unah.edu.hn/">
            <img
              src="../../../assets/img/icons/icon_linkedin_white.png"
              alt=""
            />
          </a>
        </li>
        <li class="footer-icon">
          <a href="https://x.com/UNAHoficial">
            <img src="../../../assets/img/icons/icon_x_white.png" alt="" />
          </a>
        </li>
        <li class="footer-icon">
          <a href="https://youtube.com/unahoficial">
            <img
              src="../../../assets/img/icons/icon_youtube_white.png"
              alt=""
            />
          </a>
        </li>
      </ul>

      <ul class="footer-menu">
        <li class="footer-menu-item">
          <a href="" class="footer-menu-icon">Inicio</a>
        </li>
        <li class="footer-menu-item">
          <a href="" class="footer-menu-icon">Equipo</a>
        </li>
        <li class="footer-menu-item">
          <a href="" class="footer-menu-icon">Contacto</a>
        </li>
        <li class="footer-menu-item">
          <a href="" class="footer-menu-icon">Sobre Nosotros</a>
        </li>
      </ul>
      <p class="footer-text">@año | Todos los derechos reservados</p>
    </footer>

    <!-- Modal de avisos -->
    <div
      class="modal fade"
      id="warningModal"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="warningModalLabel"></h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">...</div>
          <div class="modal-footer"></div>
        </div>
      </div>
    </div>
    <script
      src="../../../../assets/js/bootstrap/bootstrap.bundle.min.js"
      crossorigin="anonymous"
    ></script>

    <script type="module" src="../../../../assets/js/aspects.js"></script>
    <script
      type="module"
      src="../../../../assets/js/modules/request/uploadCSVStudents.mjs"
    ></script>

    <script
      type="module"
      src="../../../../assets/js/administration/DIPP/upload-students.js"
    ></script>
  </body>
</html>
