#notifications{
    position: fixed;
    top: 30px;
    right: 20px;
    z-index: 99999;
}

.notification{
    position: relative;
    padding: 10px;
    color: #4D5057;
    margin-bottom: 10px;
    width: 400px;
    display: grid;
    grid-template-columns: 70px 1fr 20px;
    border-radius: 5px;
    --color: #47d764;
    background-color:  #f7f7ff;
    border-left: 8px solid #47d764; 
    animation: show 0.3s ease 1 forwards;
}

.notification.hide {
    animation: hide 0.3s ease forwards;
}

.notification i{
    color: var(--color);
    justify-content: center;
    align-items: center;
    font-size: x-large;
}

.notification .title{
    font-size: large;
    font-weight: bold;
}

.notification span, .notification i:nth-child(3){
    color: #4D5057;
    opacity: 0.6;
}

@keyframes show{
    0%{
        transform: translateX(100%);
    }
    40%{
        transform: translateX(-5%);
    }
    80%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-10px);
    }
}

@keyframes hide {
    0% {
        transform: translateX(-10px); /* Posición inicial ligeramente a la izquierda */
    }
    40% {
        transform: translateX(0%); /* Regresa a su posición original */
    }
    80% {
        transform: translateX(5%); /* Avanza un poco hacia la derecha */
    }
    100% {
        transform: translateX(100%); /* Desaparece hacia la derecha */
    }
}

.notification::before{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--color);
    width: 100%;
    height: 3px;
    content: '';
    box-shadow: 0 0 10px var(--color);
    animation: timeOut 7s linear 1 forwards;
  
}



@keyframes timeOut{
    to{
        width: 0;
    }
}


.notification.error{
    --color:#f24d4c;
    background-color:  #f7f7ff;
    border-left: 8px solid #f24d4c; 
}

.notification.warning{
    --color:#e9bd0c;
    background-color:  #f7f7ff;
    border-left: 8px solid #e9bd0c; 
}

.notification.info{
    --color:#3498db;
    background-color:  #f7f7ff;
    border-left: 8px solid #3498db; 
}


.wrong-form{
    background-color: tomato !important; 
    animation: 0.2s valid 3;
}

.input-entry{
    outline: none;
}

.right-input{
    border: 2px solid #47d764 !important;
  
}

.wrong-input {
    border: 2px solid #f24d4c !important;
    animation: 0.2s valid 3;
}

.input-error-active{
    display: block !important;
}

.input-error{
    display: none;
}

@keyframes valid{
    to{transform: translateX(0);}
    from { transform: translateX(10px);}
}

/*==============side bar====================*/
:root{

    /* ====== colors ===== */
    --body-color:#f7f7ff;
    --sidebar-color:#002c9e;
    --primary-color:#002c9e;
    --secondary-color:#ffb300;
    --primary-color-light:#f7f7ff;
    --toggle-color:#DDD;
    --text-color:#707070;


    
    /* ====== transitions ===== */
    --tran-02:all 0.2s ease;
    --tran-03:all 0.3s ease;
    --tran-04:all 0.4s ease;
    --tran-05:all 0.5s ease;

}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 15vw;
    background: linear-gradient(to right, rgba(0, 44, 158, 0.7), rgba(0, 44, 158, 0.7));
    border-radius: 10px;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.3);
    z-index: 99999;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease; /* Transición suave */
    transform: translateX(100%) ;  /* Sidebar oculto por defecto */
}

/* Sidebar visible */
.sidebar.show {
    display: block; /* Asegúrate de que este valor coincida con el diseño original */
    transform: translateX(0) ; /* El sidebar se coloca en su lugar original */
}

.sidebar.hidden {
     visibility: hidden;
    opacity: 0;
    transform: translateX(100%);
    transition: all 0.3s ease; /* Ocultar con transición suave */
}
.sidebar-header {
    height: 10vh;
    width: 90%;
    border-bottom: 1px solid var(--body-color);
}

.sidebar-body{
    height: 80vh;
    width: 100%;
    padding: 1vh 0;
    display: flex;
    align-items: start;
    opacity: 0.9;
}

.sidebar-body ul{
    margin: 0;
    padding: 0;
    width: 100%;
}

.sidebar-footer {
    height: 10vh;
    width: 90%;
    border-top: 1px solid var(--body-color);
}

.slidebar-item{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 5vh;
    width: 100%;
    list-style-type: none;
    padding: 20px;
}

.slidebar-item:hover{
   
    transform: scale(1.05); 
    box-shadow: 0 4px 10px rgba(100, 128, 255, 0.7); 
    transform-origin: center; 
}

.slidebar-item  a{
    width: 15vw;
    text-decoration: none;
    color: var(--primary-color-light);

}

.slidebar-item  a:hover{
    color: var(--primary-color-light);
}.sidebar.hidden {
    transform: translateX(100%); /* Mueve el sidebar fuera de la pantalla */
    transition: transform 0.3s ease; /* Añade transición para un deslizamiento suave */
}

.sidebar.show {
    transform: translateX(0); /* El sidebar se coloca en su lugar original */
}


.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    padding: 10px 10px;
    background: linear-gradient(to right, rgba(0, 44, 158, 0.7), rgba(0, 44, 158, 0.7));
    width: 15vw;
    border-radius: 10px;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.3)  ;
    z-index: 99999;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: show 0.3s ease 1 forwards;
    transform: translateX(100%); /* Mueve el sidebar fuera de la pantalla */
    transition: transform 0.3s ease; /* Transición suave */
    
}

.sidebar-header {
    height: 10vh;
    width: 90%;
    border-bottom: 1px solid var(--body-color);
}

.sidebar-body{
    height: 80vh;
    width: 100%;
    padding: 1vh 0;
    display: flex;
    align-items: start;
    opacity: 0.9;
}

.sidebar-body ul{
    margin: 0;
    padding: 0;
    width: 100%;
}

.sidebar-footer {
    height: 10vh;
    width: 90%;
    border-top: 1px solid var(--body-color);
}

.slidebar-item{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 5vh;
    width: 100%;
    list-style-type: none;
    padding: 20px;
}

.slidebar-item:hover{
   
    transform: scale(1.05); 
    box-shadow: 0 4px 10px rgba(100, 128, 255, 0.7); 
    transform-origin: center; 
}

.slidebar-item  a{
    width: 15vw;
    text-decoration: none;
    color: var(--primary-color-light);

}

.slidebar-item  a:hover{
    color: var(--primary-color-light);
}

.sidebar-footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-footer a{
    text-decoration: none;
    color: var(--primary-color-light);
}

.sidebar img{
    padding: 0 0 0 10px;
}

/* Submenú siempre visible */
.submenu {
    list-style-type: none;
    padding-left: 20px;
    display: block;  /* Submenú siempre visible */
    background-color: #e0e0e0;
  }
  
  .submenu li a {
    background-color: #d0d0d0;
    padding: 8px;
    border-radius: 4px;
    margin-top: 5px;  /* Espacio entre los elementos del submenú */
  }
  
  /* Opcional: puedes ajustar el color y el estilo de los elementos del submenú */
  .submenu li a:hover {
    background-color: #c0c0c0;  /* Cambio de color al pasar el ratón */
  }

/*==============Table ====================*/
section.table-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #dee2e6;
    padding: 8px;
    text-align: left;
}

.table-title{
    width: 100%;
    height: 4vh;
    padding: 30px;
    background-color: #FFFFFF;
    border: solid 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
     margin: 10px 0;
    
}
tbody {
    font-size: small; 
  }

