<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="author"
      content=" aonolasco@unah.hn jeyson.espinal@unah.hn alejandro.moya@unah.hn kromeron@unah.hn"
    />
    <meta name="version" content="0.1.0" />
    <meta name="since" content="2024/11/1" />
    <meta name="date" content="2024/12/04" />
    <meta
      name="description"
      content="Página de dashboard"
    />

    <link
      href="../../../assets/css/bootstrap/bootstrap.min.css"
      rel="stylesheet"
      crossorigin="anonymous"
    />
    <link
      rel="icon"
      type="image/png"
      href="../../../assets/img/icons/UNAH-escudo.png"
      sizes="16x16"
    />
    <link rel="stylesheet" href="../../../assets/css/main.css" />
    <link
      rel="stylesheet"
      href="../../../assets/css/administration/main.css"
    />
    <link
    rel="stylesheet"
    href="../../../assets/css/support.css"
  />
  <link
  rel="stylesheet"
  href="../../../assets/css/dashboard.css"
/>
    <title>Dashboard</title>
    <!-- <script src="../../../assets/js/tokenValidation.js"></script>-->
  </head>

  <body class="background-white animation">
    <!--Header/navar==============================================================================-->
    <nav class="my-nav navbar-expand-lg ">
      <div class="nav-container dropdown">
        <a class="" href="./admissions-admin.html">
          <img
            class="nav-logo"
            src="../../../../assets/img/logos/UNAH-version-horizontal-white.png"
          />
        </a>

        <button  type="button" id="toggleSidebar" class="toggle-btn">
          <img src="../../../assets/img/icons/inactive-menu-icon.png" alt="">
      </button>
      </div>
    </nav>
    <!--Logout=================================================================================-->

    <!--offcanvas main container start=================================================================================-->
    <section class="sidebar hidden">
       <div class="sidebar-header" style="display: flex; justify-content: end; align-items: center;">
        <button   style="border: none; background: none;" type="button" id="closeSidebar" class="toggle-btn">
          <img src="../../../assets/img/icons/inactive-menu-icon.png" alt="Cerrar Sidebar">
      </button>
       </div>
       <div class="sidebar-body">
          <ul >
            <li class="slidebar-item"><a href=""><img src="" alt="" class="sidebar-icon">Incio</a></li>
            <li class="slidebar-item"><a href=""><img src="" alt="" class="sidebar-icon">Planificación Academica</a></li>
            <li class="slidebar-item"><a href=""><img src="" alt="" class="sidebar-icon">Evaluación Docente</a></li>
            <li class="slidebar-item"><a href=""><img src="" alt="" class="sidebar-icon">Calificaciones</a></li>
            <li class="slidebar-item"><a href=""><img src="" alt="" class="sidebar-icon">Estudiantes</a></li>
            <li class="slidebar-item"><a href=""><img src="" alt="" class="sidebar-icon">Administración Docente</a></li>
            <li class="slidebar-item"><a href=""><img src="" alt="" class="sidebar-icon">Docencia</a></li>
 
          </ul>
       </div>
       <div class="sidebar-footer">
        <a role="button" style="color: white;" id="logoutBtn" href="">Cerrar sesión <img src="../../../assets/img/icons/logout-icon.png" alt=""></a>
     </div> 
    </section>
    <!--offcanvas main container end=================================================================================-->
    <!--Menu=================================================================================-->
    <section id="dashboard" class="menu">
        <div class="row">
          
                <!-- Dashboard Cards -->
                <div class="cards" style="display: flex; flex-wrap: wrap;">
                  <div class="card">
                      <h3>Total Sales</h3>
                      <p>$5000</p>
                  </div>
                  <div class="card">
                      <h3>Total Users</h3>
                      <p>1200</p>
                  </div>
                  <div class="card">
                      <h3>Pending Tasks</h3>
                      <p>5</p>
                  </div>
                  <div class="card">
                      <h3>Messages</h3>
                      <p>23</p>
                  </div>
              </div>

              <!-- Charts Section -->
              <div class="charts">
                  <div  id="pieChart"  class="chart">
                      <h3>Sales Chart</h3>
                      <div class=" pie-chart" id="pie-chart"></div>
                      
                     
                  </div>
              </div>
    
        </div>
        
    </section>
    <!--Footer=================================================================================-->

    <footer class="footer">
      <img
        class="logo-footer"
        src="../../../assets/img/logos/UNAH-version-horizontal-white.png"
      />

      <ul class="social-icon">
        <li class="footer-icon">
          <a href="https://facebook.com/unahoficial">
            <img
              src="../../../assets/img/icons/icon_facebook_white.png"
              alt=""
            />
          </a>
        </li>
        <li class="footer-icon">
          <a href="https://instagram.com/unahoficial">
            <img
              src="../../../assets/img/icons/icon_insta_white.png"
              alt=""
            />
          </a>
        </li>
        <li class="footer-icon">
          <a href="https://www.unah.edu.hn/">
            <img
              src="../../../assets/img/icons/icon_linkedin_white.png"
              alt=""
            />
          </a>
        </li>
        <li class="footer-icon">
          <a href="https://x.com/UNAHoficial">
            <img
              src="../../../assets/img/icons/icon_x_white.png"
              alt=""
            />
          </a>
        </li>
        <li class="footer-icon">
          <a href="https://youtube.com/unahoficial">
            <img
              src="../../../assets/img/icons/icon_youtube_white.png"
              alt=""
            />
          </a>
        </li>
      </ul>

      <ul class="footer-menu">
        <li class="footer-menu-item">
          <a href="" class="footer-menu-icon">Inicio</a>
        </li>
        <li class="footer-menu-item">
          <a href="" class="footer-menu-icon">Equipo</a>
        </li>
        <li class="footer-menu-item">
          <a href="" class="footer-menu-icon">Contacto</a>
        </li>
        <li class="footer-menu-item">
          <a href="" class="footer-menu-icon">Sobre Nosotros</a>
        </li>
      </ul>
      <p class="footer-text">@año | Todos los derechos reservados</p>
    </footer>
    
    <!-- Modal de avisos -->
<div class="modal fade" id="warningModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="warningModalLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
    <script
      src="../../../assets/js/bootstrap/bootstrap.bundle.min.js"
      crossorigin="anonymous"
    ></script>
   <script   type="module"  src="../../../assets/js/administration/departments/dashboard.js"> </script>
    <script
      type="module"
      src="../../../assets/js/aspects.js"
    ></script>

  </body>
</html>
